@tailwind base;
@tailwind components;
@tailwind utilities;


.home:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("./assets/images/hero.jpg") no-repeat center center/cover;
}

.navbar{
    @apply  bg-gradient-to-b from-neutral-900  to-transparent;
}
.navbar-scrolled{
    @apply  bg-neutral-900;
}

.list-item:hover{

    @apply w-[420px] h-[470px] z-[999];
    -webkit-box-shadow: 1px 0px 15px 0px rgba(255,255,255,0.35); 
      box-shadow: 1px 0px 15px 0px rgba(255,255,255,0.35);

}
.list-item:hover > .list-img{
    @apply w-[420px];
}

.list-item:hover > .list-desc{
    @apply flex
}