@tailwind base;
@tailwind components;
@tailwind utilities;


.home:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("./assets/images/hero.jpg") no-repeat center center/cover;
}
